<h1 class="mat-headline-medium">Endpoints da API</h1>

@if (apiRoot.endpoints(); as endpoints) {
  <mat-list>
    @for (link of objectKeys(endpoints._links); track link) {
      <mat-list-item>
        <span class="endpoint-key">{{ link }}:</span>
        <a mat-button [href]="endpoints._links[link].href" target="_blank">
          {{ endpoints._links[link].href }}
        </a>
        @if (endpoints._links[link].templated) {
          <span class="templated-label">(templated)</span>
        }
      </mat-list-item>
    }
  </mat-list>
} @else {
  <p>Carregando endpoints...</p>
}
