// Inclua o tema para o Angular Material com `mat.theme()`.
// Este mixin Sass definirá variáveis CSS usadas para estilizar os componentes do Angular Material
// de acordo com as especificações de design do Material 3.
// Saiba mais sobre temas e como usá-los para os componentes personalizados do seu aplicativo em https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Defina o aplicativo para um tema de cor claro por padrão. Isso pode ser alterado para
  // `dark` para ativar o tema de cor escura, ou para `light dark` para adiar o
  // configurações do sistema do usuário.
  color-scheme: light;

  // Defina um fundo padrão, fonte e cores de texto para o aplicativo usando
  // variáveis CSS de nível de sistema do Angular Material. Saiba mais sobre esses
  // variáveis em https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Redefinir a margem do agente do usuário.
  margin: 0;
}
/* Você pode adicionar estilos globais a este arquivo e também importar outros arquivos de estilo */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
